{% extends 'base_account.html.twig' %}

{% block body %}

          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h5 class="card-title">Modification du mot de passe</h5>
            </div>

            <!-- Body -->
            <div class="card-body">
              <!-- Form -->
              <form>
                <!-- Form Group -->
                <div class="row form-group">
                  <label for="currentPasswordLabel" class="col-sm-3 col-form-label input-label">Mot de passe actuel</label>

                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="currentPassword" id="currentPasswordLabel" placeholder="Enter current password" aria-label="Enter current password">
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="newPassword" class="col-sm-3 col-form-label input-label">Nouveau mot de passe</label>

                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter new password" aria-label="Enter new password">
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label input-label">Confirmer le mot de passe</label>

                  <div class="col-sm-9">
                    <div class="mb-3">
                      <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPasswordLabel" placeholder="Confirm your new password" aria-label="Confirm your new password">
                    </div>

                    <h5>Exigences relatives au mot de passe:</h5>

                    <p class="card-text font-size-1">Assurez-vous que ces conditions sont remplies:</p>

                    <ul class="font-size-1">
                      <li>Minimum de 8 caractères - plus il y en a, mieux c'est</li>
                      <li>Au moins un caractère minuscule</li>
                      <li>Au moins un caractère majuscule</li>
                      <li>Au moins un chiffre, un symbole ou un espace</li>
                    </ul>
                  </div>
                </div>
                <!-- End Form Group -->

                <div class="d-flex justify-content-end">
                  <a class="btn btn-white" href="javascript:;">Annuler</a>
                  <span class="mx-2"></span>
                  <button type="submit" class="btn btn-primary">Mettre à jour</button>
                </div>
              </form>
              <!-- End Form -->
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        
{% endblock %}
